GEMINI_API_KEY=
GEMINI_TEXT_MODEL=gemini-2.5-flash

SILICONFLOW_API_KEY=
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
SILICONFLOW_TEXT_MODEL=Qwen/Qwen3-8B
SILICONFLOW_IMAGE_MODEL=Qwen/Qwen-Image-Edit-2509
SILICONFLOW_TEXT_TO_IMAGE_MODEL=Kwai-Kolors/Kolors
